body {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 1.428571429;
   color: #333333;
   background-image: url(../../images/stucco/stucco.png);
   background-repeat: repeat;
}

li{
   list-style-type: none;
}

h1 { 
   font-size: 4em;
   font-weight: bold;
}

main {
   width: 880px;
   margin-left: auto ;
   margin-right: auto ;
   background-color: #ffffff;
   margin-top: 1em;
   padding: 10px;
   border: solid 1pt #e7e7e7;
}

h2 { 
   font-size: 1.75em;
}
h3 { 
   font-size: 1.25em;
   border-bottom: solid 1pt #e7e7e7;
   margin-top: 1em;
   margin-bottom: 0.75em;
}

.favorites {
    border: solid 1pt #e7e7e7;
   margin-top: 1em;
   padding: 10px;    
 }
main .leftsection {
	width: 300px;
	float:left;
}
.extra{
	margin-top:20px;
}
main  .rightsection{
	margin-left: 400px;
}

#buttons {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	 text-align: center;
	 text-decoration: none;
	display: inline-block;
	 font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

